/*!-----RESET-----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*!-----HEADER-----*/
/*!-----mantener orden en css;-----*/

/*!-----background-attachment: fixed; scroleo img----*/

header{
    width: 100%;
    height: 80px;
    background-color: rgb(246,180,97);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    padding: 10px;
    width: 60%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

header nav{
    display: flex;
    justify-content: space-between;    

}

header nav ul{
    list-style: none;
    display: flex;
    @media screen and (max-width:500px)
   
}

header nav ul li{
    margin: 10px;
        
}    

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    
  
}
/*!-----MAIN-----*/


.hero {
    margin: 20px 15px 10px 0px;
    width: 100%;
    height: 240px;
    background-image: url("../img/camellov2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center:0;
    text-align: center;
}

.hero h2{
    margin: 10 px;
    width: 60%;
    color: chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 72px;
    font-weight: 1200;
}

.ranking {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ranking h2{
    padding: 10px;
    color: chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 700;   
}  

.ranking a{
    text-decoration: none;
}

.ranking img{
    height: 400px;
}

/*!-----GENEROS-----*/

.generos {
    margin: 10px;
    display: grid;
    grid-template-rows: (200px 200px); 
    grid-template-columns: repeat(4, 1fr);
}

.generos a{
    text-decoration: none;
}

.generos h3{
    margin: 10px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.generos p{
    margin: 10px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: yellow;
   }

   

.novedades h2{
    margin-bottom: 10px;
    color: white;
    background-color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    }   


.listaNovedades {
    display: grid;
    grid-template-rows: (200px 200px); 
    grid-template-columns: repeat(4, 1fr);
}

.listaNovedades img{
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 200px;
}





/*!-----FOOTER-----*/

footer{
    margin: 5px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
}

footer h4{
    margin: 10px;
    width: 30%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;

}

footer div a img{
    margin: 10px;
    width: 40px;
    height: 40px;
}

footer a{
    text-decoration: none;
}

/*!-----DOC CATALOGO-----*/

.grillaCatalogo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.generosCatalogo {
    margin: 10px;
    text-decoration: none;
    color: rgb(246,180,97);
    font-size: 18px;
    font-weight: 200;
}

.librosCatalogo {
    display: grid;
    grid-template-rows: (100px 100px 100px 100px 100px); 
    grid-template-columns: repeat(4, 1fr);
}

.librosCatalogo img{
    margin: 5px;
    width: 90%;
    height: 100px;
}
