/*!-----RESET-----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*!-----HEADER-----*/
/*!-----mantener orden en css;-----*/

/*!-----background-attachment: fixed; scroleo img----*/

header {
    width: 100%;
    background-color: rgb(246, 180, 97);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*!---
header h1 {
    padding: 10px;
    width: 80%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 52px;
    font-weight: 900;
}

/*!---header nav {
    display: flex;
    justify-content: space-between;



header nav ul {
    list-style: none;
    display: flex;

}

header nav ul li {
    margin: 10px;

}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;


}
}----!*/

.nav {
    height: 120px;
    width: 100%;
    background-color: rgb(246, 180, 97);
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title h1 {
    margin: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 900;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 15px;
  }
  
  .nav > .nav-links > a {
    margin: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }


/*!-----MAIN---
hero height: 240px
--*/


.hero {
    padding: 10px;
    width: 100%;
    height: calc(100vh - 90px);
    background-image: url("../img/camellov2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.hero h2 {
    margin: 10 px;
    width: 90%;
    color: chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 82px;
    font-weight: 1200;
    
    
}

.ranking {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking div {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ranking div a {
    text-decoration: none;
    
}

.ranking div h2 {
    margin: 10px;
    padding: 10px;
    width: 80%;
    color: chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.ranking div p {
    margin: 10px;

}
.ranking a img {
    height: 400px;
}

/*!-----GENEROS-----*/

.generos {
    margin: 10px;
    display: grid;
    grid-template-rows: (200px 200px);
    grid-template-columns: repeat(4, 1fr);
}

.generos a {
    text-decoration: none;
}

.generos h3 {
    margin: 10px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.generos p {
    margin: 10px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: yellow;
}



.novedades h2 {
    margin-bottom: 10px;
    color: white;
    background-color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}


.listaNovedades {
    display: grid;
    grid-template-rows: (200px 200px);
    grid-template-columns: repeat(4, 1fr);
}

.listaNovedades img {
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 200px;
}


/*!-----FOOTER-----*/

footer {
    margin: 5px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
}

footer h4 {
    margin: 10px;
    width: 30%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;

}

footer div a img {
    margin: 10px;
    width: 40px;
    height: 40px;
}

footer a {
    text-decoration: none;
}


.gridBoot {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-image: url("../img/black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding: 20px;
    font-size: 90%;
}

.gridBoot div h3 {
    color: #fff;
    text-align: end;
}

    /*---ranking.html----*/

.grillaContenedor{
    width: 100%;
    height: calc(100vh -300px);
    margin: 10px auto; 
    padding: 5px;   
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-template-areas: 
    "rankingAside rankingMes rankingMes"
    "rankingAside rankingAnual rankingAnual"
    ;

}

.rankingMes {
    grid-area: rankingMes;
    margin: 15px;
    width: 900px;
}

.rankingAnual {
    grid-area: rankingAnual;
    margin: 15px;
    width: 900px;
     
}

.rankingAside {
    grid-area: rankingAside;
    margin: 10px;
   
}

.rankingAside h3{
    color: rgb(246, 180, 97);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    font-weight: 500px; 
    margin: 15px;   
}

.rankingAside ul {
    list-style: none;
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(246, 180, 97);

}

.rankingAside ul li {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300px;
    margin: 10px;    

}

.rankingAside ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    
}

 /*---locales.html----*/

 .mapasLocales {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

 .casaCentral {
    display: flex;
    justify-content: center;
}

 .logoChaca {
    margin: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .logoChaca h3{
    color: rgb(246, 180, 97);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 300px;
    margin-bottom: 20px; 
    text-align: center;

 }

.fotoChaca {
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 400px;
    background-image: url("../img/cafelib.jpg");
    background-size: cover;
    
}

.fotoChaca p{
    margin: 10px;
    padding: 5px;
    border: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400px;
    color: white;
    background-color: rgb(246, 180, 97);
    display: flex;
        

}

 .sucursales {
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
 }

 @media screen and (max-width:600px){
    .hero {
        margin: 5px 5px 5px 0px;
        width: 100%;
        height: 160px;
        background-image: url("../img/camellov2.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        text-align: center;
    }
    
    .hero h2 {
        margin: 10px;
        width: 90%;
        height: auto;
        color: chocolate;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 34px;
        font-weight: 600;
    }

    .hero p {
        display: none;
    }

    .ranking {
        margin: 10px 0px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .ranking div h2 {
        margin: 10px;
        color: chocolate;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
    }
    
    .ranking div a {
        text-decoration: none;
    }

    .ranking div p {
        text-align: justify;
    }
    
    .ranking img {
        display: none;
    }

    .generos {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .generos a {
        text-decoration: none;
    }
    
    .generos h3 {
        margin: 10px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 400;
    }
    
    .generos p {
        margin: 10px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        background-color: yellow;
    }
   
 
    .listaNovedades {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .listaNovedades img {
        margin: 10px;
        padding: 10px;
        width: 90%;
        height: 200px;
    }

    .wrapper {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer {
        margin: 5px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
    }

    footer h4 {
        display: none;
    }

    footer div a img {
        margin: 5px;
        width: 25px;
        height: 25px;
    }

    footer a {
        text-decoration: none;
    }

}


 @media (max-width:600px) {
    .nav > .nav-header > .nav-title h1 {
        font-size: 24px;
        position: absolute;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(246, 180, 97);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    
}


/*----MEDIA QUERY-
@media screen and (max-width:700px) {

    header h1 {
        margin: 10px;
        padding: 10px;
        width: 80%;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 18px;
        font-weight: 200px;
    }

    header nav {
          
       ----*/   

    
  


    /*!---- 
.gridBoot div img{
    margin: 5px 5px 5px 5px;
    width: 75%;
    height: 150px;
  }


/*!-----DOC CATALOGO

.grillaCatalogo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.generosCatalogo {
    margin: 10px;
    text-decoration: none;
    color: rgb(246,180,97);
    font-size: 18px;
    font-weight: 200;
}

.librosCatalogo {
    display: grid;
    grid-template-rows: (100px 100px 100px 100px 100px); 
    grid-template-columns: repeat(4, 1fr);
}

.librosCatalogo img{
    margin: 5px;
    width: 90%;
    height: 100px;
}

-----*/