.barraNar {
    background-color: $colorPrincipal;
    height: 80px;

    .barraPira a {
        color: #fff;
        font-size: 32px;
    }

    a {
        color: #fff;
    }

    button {
        color: #fff;
    }
}
