@media screen and (max-width:1300px) {

    .hero{
        height: 500px;
        h1{
            font-size: 72px;
            font-weight: 400;
        }
    }

    .novedades {
        width: 100%;
    
        div {
            h2 {
                margin-bottom: 10px;
                color: white;
                background-color: $colorPrincipal;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 30px;
                font-weight: 500;
                text-align: center;
            }
        }
    
        .conteNovedades {
            margin-bottom: 20px;
            .listaNovedades{
                margin-bottom: 20px;
            }   
        }
    
    }

    .ranking{
        margin-top: 30px;
    }

    .generos{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:1100px) {

    .ranking {
        div{
            display: flex;
            flex-direction: column;
            p{
                width: 90%;
            }
        }
    }
}

@media screen and (max-width:1000px) {

    .barraNar {
        height: auto;
    }

    .hero {
        height: 400px;
        h1{
            font-size: 62px;
            font-weight: 400;
        }
    }

    .novedades {
        margin-bottom: auto;
    
    }

    .ranking {
       margin-top: 20px;
    }

    .generos {
        margin-bottom: 30px;
        .griCatalogo {
            margin-left: 15px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 5px;
            background-color: #fff;
            color: #444;
            grid-row-gap: 10px;
        }
    }

    footer {
        a{
            h4{
                font-size: 26px;
                font-weight: 400;
            }
        }
        div{
            a{
                img{
                    width: 30px;
                    height: 30px;
                }            
            }
        }
    }

    /*! CATALOGO */

    .grillaContenedor {
        gap: 10px;

        .cataDestacados {
            h1 {
                text-align: center;
            }
        }

        .cataSinfoto {
            h3 {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .hero {
        height: 350px;
        h1{
            font-size: 52px;
            font-weight: 400;
        }
    }
}
    

@media screen and (max-width:760px) {

    .grillaContenedor {

        .cataDestacados {
            h1 {
                font-size: 36px;
            }
        }

        .cataSinfoto {
            h3 {
                font-size: 32px;
                color: $colorSecundario;
                background-color: $colorPrincipal;
            }
        }

        .cataListado {

            div {
                h3 {
                    font-size: 24px;
                    font-weight: 300;
                }
            }

            .asideGeneros {
                ul {

                    li {
                        font-size: 14px;
                        font-weight: 200;
                    }
                }
            }
        }

        .papelOnada {

            h3 {
                color: $colorPrincipal;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 24px;
                font-weight: 300;
                margin: 10px;
            }

            p {
                padding: 10px;
                color: white;
                background-color: #444;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 14px;
                text-align: justify;
            }

        }
    }
    footer {
        width: 100%;
        padding: 10px;
        margin: 5px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid;
        a{
            h4{
                margin: 10px;
                color: chocolate;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 24px;
                font-weight: 400;
                text-decoration: none;
            }
        }
        div{
            a{
                text-decoration: none;
                img{
                    margin: 5px;
                    width: 28px;
                    height: 28px;
                }            
            }
        }
    }
}

@media screen and (max-width:720px) {

    .barraNar {
        height: auto;
    }

    .hero {
        height: 300px;
        h1{
            font-size: 44px;
            font-weight: 500;
        }
    }

    .ranking {
        margin: 10px 0px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .ranking div h2 {
        margin: 10px;
        color: chocolate;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
    }

    .ranking div a {
        text-decoration: none;
    }

    .ranking div p {
        font-size: 14px;
        text-align: justify;
    }

    .ranking img {
        display: none;
    }

    .listaNovedades {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .listaNovedades img {
        margin: 10px;
        padding: 10px;
        width: 90%;
        height: 90%;
    }

    .wrapper {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer {
        width: 100%;
        padding: 10px;
        margin: 5px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid;
        a{
            h4{
                margin: 10px;
                color: chocolate;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 22px;
                font-weight: 400;
                text-decoration: none;
            }
        }
        div{
            a{
                text-decoration: none;
                img{
                    margin: 5px;
                    width: 25px;
                    height: 25px;
                }            
            }
        }
    }
}

@media screen and (max-width:620px) {

    .grillaContenedor {
        margin-top: 10px;
        height: auto;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:600px) {

    .barraNar {
        height: auto;
    }

    .hero {
        height: 300px;
        h1{
            font-size: 30px;
            font-weight: 500;
        }
    }

    .generos {
        margin-bottom: 10px;
        .griCatalogo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contCatalogo {
                width: 80%;
       
                a {
                            
                    h3 {
                        text-align: center;
                    }
        
                    img {
                        margin: 10px;
                        padding: 10px;
                        width: 100%;
                        height: 100%;
                    }
                }
        
        
            }
        }
    }
}

@media screen and (max-width:420px) {

    .hero {
        height: 200px;
        h1{
            font-size: 28px;
            font-weight: 500;
        }
    }

    .grillaContenedor {

        .cataDestacados {
            h1 {
                font-size: 30px;
                margin-bottom: 15px;
            }
        }

        .cataSinfoto {
            h3 {
                font-size: 28px;
                color: $colorSecundario;
                background-color: $colorPrincipal;
                margin-bottom: 15px;
            }
        }

        .cataListado {

            div {
                h3 {
                    font-size: 22px;

                }
            }

            .asideGeneros {
                ul {

                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}